<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ServerIPAddress" value="0.0.0.0" />
		<add key="ServerPort" value="43443"/>
		<add key="DbHost" value="postgres"/>
		<add key="DbPort" value="5432"/>
		<add key="DbName" value="postgres"/>
		<add key="DbUsername" value="postgres"/>
		<add key="DbPassword" value="secret"/>
	</appSettings>
</configuration>